body {
  height: 100vh !important;
  min-height: 100vh !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

button {
    cursor: pointer;
}